[SddmGreeterTheme]
Name=Monochrome Plasma 6
Description=Monochrome theme for SDDM
Author=Patrik Wyde, Rasmus Lille
Copyright=(c) 2018, Patrik Wyde; (c) 2026, Rasmus Lille
License=GPL-3.0-only
Type=sddm-theme
Version=1
Website=https://github.com/Virteso/monochrome-sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=monochrome
Theme-API=2.0
QtVersion=6
